<h1><%= @instruction.name %></h1>
<pre id="ingredients">
  <%= @instruction.ingredients %>
</pre>
<h4><%= @instruction.rating %></h4>
<h5>Added on <%= @instruction.date %></h5>

<p><a href="<%= @instruction.id %>/edit">Edit</a> | <a href="/instructions/<%= @instruction.id %>" data-method="delete" data-confirm="Are you sure?" rel="nofollow">Delete</a></p>
